.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-size: 16px;
}

@media (min-width: 800px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 20px;
  }
}
